body > div > div:nth-child(1){
    border-bottom: solid 2px #d9534f;
    box-sizing: content-box !important;
    height: 100px;
    align-items:center;
}

body{
    overflow-x: hidden;
}

button > img{
    width: 30px;
}

body > div > div > div:nth-child(3) > img{
    height: 100px;
}

aside, nav{
    background-color: #ebebeb;
}

div > aside > ul > li{
    background-color: #ebebeb !important;
}

/*.btn{
    background-color: #d9534f !important;
    border-color: black !important;
}*/

nav > header > img{
    max-width: 60px;
}
main{
    background-color: lightcyan;
}
<<<<<<< HEAD
=======

/*Login*/
body > div > div:nth-last-of-type(2) > input{
    background-color: #d9534f !important;
    border-color: black !important;
}
>>>>>>> 2b51699f38c63fc1dd825e01e9fea471fefe5df8
