body > div > header{
    border-bottom: solid 3px #d9534f;
    box-sizing: content-box !important;
    height: 100px;
    align-items:center;
}

body{
    overflow-x: hidden;
    background-image: url("../img/triangle-mosaic.png") !important;
}

button{
    padding: 0 !important;
}

header button img, .modal button img{
    width: 30px;
}

/*logo image*/
body > div > header > div:nth-child(3) > a > img{
    height: 100px;
}

.diskInOrder{
    width: 150px;
}

/*Login*/
body > div > div:nth-last-of-type(2) > input{
    background-color: #d9534f !important;
    border-color: black !important;
}

body > div > div > div:nth-child(3) >  div:nth-child(3) > div > p{
    color:#d9534f;
}

body > div > div > nav > div:nth-child(2) button.btn:hover{
    background-color: #d9534f;
    background: #d9534f;


}
.navbar{
    background-color: white;
}

/*aside e carrello*/

aside{
    background-color: #ebebeb;
    position: fixed;
    top: 0;
    height: 100%;
}

aside.float-end{
    right: 0;
    width: 400px;
}

aside.float-end li img{
    height: 100px;
}

aside.float-start{
    left: 0;
    width: 250px; 
}

aside.float-start > header > div:nth-of-type(2) img{
    width: 80px;
}

div > aside > ul > li{
    background-color: #ebebeb !important;
}

.cart-minus > img, .cart-plus > img, .cart-delete > img{
    width: 20px !important;
    height: 20px !important;
}

aside{
    z-index: 5;
}

.btn-primary{
    background-color: #d9534f !important;
    color: white !important;
    border-color: black !important;
    box-shadow: none !important;
}

/*Notifiche*/
.unReadNotify{
    border-color: #000 !important;
    background-color: #d9534f !important;
    color: #fff !important;
}

.readNotify{
    border-color: #000 !important;
    background-color: #ebebeb !important;
    color: #000 !important;
}

.add-to-cart-button > img{
    height: 30px !important;
    width: 30px !important;
}

/*accordion*/

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #d9534f !important;
    box-shadow: none !important;
}

.accordion-button.collapsed {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    border-color: black !important;
    box-shadow: none !important;
}

.orderState{
    color: #d9534f !important;
}

.modal-body{
    height: 300px !important;
    overflow-y: auto;
}

.cart{
    height: 70% !important;
    overflow-y: auto;
    direction: ltr;
}

.dropDown{
    background-color: #ebebeb !important;
    color:black !important;
    width: 100%;
}

.closeIcon{
    height: 30px !important;
    width: 30px !important;
}

.iconDropdown{
    background-color: #ebebeb !important;
    color:#000 !important;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.carousel-caption p{
    margin-bottom: 0;
}

.img-orderState{
    height: 20px;
}

.popularClicked{
    background-color: #ebebeb !important;
    color:#000 !important;
}

.notClicked{
    background-color: white !important;
    color:#000 !important;
}

.progress-bar{
    background-color: #d9534f !important;
}

.progress > p{
    color: black !important;
}

/* footer */

body > div > footer{ 
    font-size: 75%;
    background-color: #d9534f !important;
}

.contactIcon{
    height: 20px !important;
    width: 20px !important;
}

starReview{
    font-size: 2rem !important;
}