body > div > header{
    border-bottom: solid 3px #d9534f;
    box-sizing: content-box !important;
    height: 100px;
    align-items:center;
}

body{
    overflow-x: hidden;
}

button{
    padding: 0 !important;
}

header button img, .modal button img{
    width: 30px;
}

/*logo image*/
body > div > header > div:nth-child(3) > a > img{
    height: 100px;
}

.diskInOrder{
    width: 150px;
}

/*Login*/
body > div > div:nth-last-of-type(2) > input{
    background-color: #d9534f !important;
    border-color: black !important;
}

body > div > div > div:nth-child(3) >  div:nth-child(3) > div > p{
    color:#d9534f;
}
.rotated {
    transform: rotate(90deg); /* Equal to rotateZ(45deg) */
    background-color: pink;
  }

body > div > div > nav > div:nth-child(2) button.btn:hover{
    background-color: #d9534f;
    background: #d9534f;


}
.navbar{
    background-color: white;
}

.progress-striped {
    background-color: #ee5f5b;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
}

/*aside e carrello*/

aside{
    background-color: #ebebeb;
    position: fixed;
    top: 0;
    height: 100%;
}

aside.float-end{
    right: 0;
    width: 400px;
}

aside.float-end li img{
    height: 100px;
}

aside.float-start{
    left: 0;
    width: 250px; 
}

aside.float-start > header > div:nth-of-type(2) img{
    width: 80px;
}

div > aside > ul > li{
    background-color: #ebebeb !important;
}

.cart-minus > img, .cart-plus > img, .cart-delete > img{
    width: 20px !important;
    height: 20px !important;
}

.icon-map{
    width: 500px !important;
    height: 350px !important;
}

aside{
    z-index: 2;
}

.btn-primary{
    background-color: #d9534f !important;
    color: white !important;
    border-color: black !important;
}

/*Notifiche*/
.list-group-item.list-group-item-action{
    border-color: #000 !important;
    background-color: #d9534f !important;
    color: #fff !important;
}

.add-to-cart-button > img{
    height: 30px !important;
    width: 30px !important;
}

/*accordion*/

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #d9534f !important;
    box-shadow: none !important;
}

.accordion-button.collapsed {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    border-color: black !important;
    box-shadow: none !important;
}

.orderState{
    color: #d9534f !important;
}

.modal-body{
    height: 300px !important;
    overflow-y: auto;
}

.cart{
    height: 70% !important;
    overflow-y: auto;
    direction: ltr;
}

.dropDown{
    background-color: #d9534f !important;
    color:white !important;
    width: 150px;
    height: 40px;
}

.closeIcon{
    height: 30px !important;
    width: 30px !important;
}